.CFUserTextEncoding
.DS_Store
.android/
.bash_profile
.bundle/
.cocoapods/
.config/
.dart-tool/
.dartServer/
.emulator_console_auth_token
.flutter/
.flutter-devtools/
.gitconfig
.gradle/
.konan/
.lesshst
.pub-cache/
.sdkman/
.skiko/
.ssh/
.swiftpm/
.viminfo
.vscode/
.zcompdump
.zprofil
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
.zshrc.save
.zshrs
